@font-face {
  font-family: 'neuropolx';
  src: url('neuropolx.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'subatomic';
  src: url('subatomic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Ratio';
  src: url('ratio.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
	background: black;
}

.header {
	font-family: 'subatomic';
}

canvas { 
	background-color: black;
	display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#contact {
	margin-top: 150px;
	text-align: center;
}

.jumbotron.home-screen {
	height: 500px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-radius: 20px;
	border: medium solid blue;
	background: #2465FF;
	font-size: 36px;
	font-family: 'neuropolx';
	line-height: 52px;
}

.jumbotron.home-screen.screen-back {
	border: medium solid purple;
	background: #8000FF;
}

.btn.start-button {
	margin-top: 30px;
	background-color: #D712FF;
	color: white;
	width: 150px;
	height: 70px;
	font-size: 36px;
	font-family: 'Ratio';
	border-radius: 20px;
	margin-left: 165px; ;
}

.btn.start-button:hover {
	background-color: lightgrey;
	border: #D712FF thin solid;
	color: #D712FF;
}

.score {
	color: white;
	display: inline-block;
	position: absolute;
	z-index: 1000;
}

.subheader {
	color: white;
}

.flip-container { 
  width: 800px;
  height: 500px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*position: absolute;*/
  /*perspective: 600px;*/
  text-align: center;
}

.flip-button {
	height: 50px;
	float: right;
	font-size: 12px;
}

.flip-button:hover {
	opacity: .8;
	border: medium pink solid;
}

.first {
	margin-top: 50px;
	font-size: 12px;
	width: 140px;
}

.second {
	width: 120px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  /*-webkit-transform-origin: right center;*/
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
}

#card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

#card .front {
  /*background: red;*/
}

#card .back {
  /*background: green;*/
  -webkit-transform: rotateY( 180deg );
}

#card.flipped {
  -webkit-transform: rotateY( 180deg );
  /*-webkit-transform: translateX( -100% ) rotateY( -180deg );*/
}